body {
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0% {
    background-color: #B0C4DE;
  }
  100% {
    background-color: #D8BFD8;
}

@keyframes pulse {
  0% {
    background-color: #D8BFD8;
  }
  100% {
    background-color: #B0C4DE;
}

  
